.title-container {
    border: solid thin;
    height: 10em;
    display: flex;
}

.title-image {
    position: relative;
    width: 100%;
    max-height:10em;
    opacity: .25;
    object-fit: cover;
}

.title {
    position: absolute;
    left: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-self: center;
}

.navigation {
    border: solid thin;
    height: 2em;
    background-color: rgb(248, 248, 209);
    display: flex;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: .5em;
    align-self: center;
}

.nav-item {
    display: inline-block;
}

.index-content-container {
    display: flex;
}

.article-container {
    display: inline-block;
}

/* .journey-container {
    border: solid thin;
    display: flex;
    height: auto;
    align-items: center;
}

.journey-text-container {
    margin-left: 1em;
}

.journey-image {
    height: 10em;
    margin: 2em;
} */

.care-container {
    border: solid thin;
    display: flex;
    height: auto;
    align-items: center;
    background-color:beige;
}

.care-text-container {
    margin-right: 1em;
    /* background-color: red; */
}

.care-image {
    height: 10em;
    margin: 2em;
}

.donate-container {
    border: solid thin;
    display: flex;
    flex-direction: row;
    height: auto;
    align-items: center;
    align-content: center;
    background-color:beige;
}

.donate-text-container {
    margin-left: 1em;
}

.donate-container-left {
    display: flex;
    flex-direction: column;
}

.donate-button {
    align-self: center;
    width: 10em;
}

.food-image {
    height: 10em;
    margin: 2em;
}

/******* Donate Page *******/

.donatePage-container {
    display: flex;
}

.donatePage-container-left {
    /* position: relative; */
    width: 50%;
    display: flex;
    border: thin solid;
}

.donate-page-image {
    width: 100%;
    opacity: .25;
    object-fit: cover;
    position: relative;
}

.donate-page-text {
    position: absolute;
    width: 40%;
    word-wrap: break-word;
    margin: 2em;
    align-self: center;
}

.donatePage-container-right {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    border: thin solid;
    background-color: beige;
}

.donate-page-inputs {
    margin-top: 3em;
}

.smart-button-container {
    display: flex;
    justify-content: center;
}

.paypal-button-container {
    margin: 1em;
    width: 75%;
}

:root {
    font-family: Georgia, 'Times New Roman', Times, serif;
}